<section>
  <p>Here are some concepts that we believe are important to know and understand:
  </p>
  <p>
    <b>Serializer</b>: It has the responsibility to transform the value retrieved from a Ui2QpControl to the actual one
    that will be assigned to the QP.
  </p>
  <p>
    <b>Deserializer</b>: It transforms the value obtained from the QP to the one that will be assigned to the Ui2QpControl.
  </p>
  <p>
    <b>Query Parameter(s) or QP(s)</b>: Is a part of a uniform resource locator (URL) that assigns values to specified
    parameters. A query string commonly includes fields added to a base URL by a Web browser or other client
    application. Check out <a href="https://en.wikipedia.org/wiki/Query_string">this</a> article about it.
  </p>
</section>

<h2>Good to know</h2>

<section>
  <h3>Extends ReactiveForms API</h3>
  <p> The main classes and services in ng-ui2qp almost fully match Angular's ReactiveForms, which makes it familiar, easy to
    understand and use.</p>
  <p>Here is how ng-ui2qp matches ReactiveForms API</p>
  <table class="text-align-center">
    <tr class="primary-background-color accent-color">
      <th>ReactiveForms Class</th>
      <th>Ui2Qp Class</th>
      <th></th>
    </tr>
    <tr class="light-primary-background-color">
      <td>FormControl</td>
      <td>Ui2QpFormControl</td>
      <td>Extends</td>
    </tr>
    <tr class="light-primary-background-color">
      <td>FormGroup</td>
      <td>Ui2QpFormGroup</td>
      <td>Extends</td>
    </tr>
    <tr class="light-primary-background-color">
      <td>X</td>
      <td>Ui2QpRoot</td>
      <td>Ui2Qp specific</td>
    </tr>
    <tr class="light-primary-background-color">
      <td>FormBuilder</td>
      <td>Ui2QpBuilder</td>
      <td>Doesn't extends</td>
    </tr>
  </table>

</section>
