<h2>Serializer</h2>
<section class="">
  <p>
    The serializer is no more than an object which has two properties, a function, and a type and it's used for
    transforming the value from a Ui2QpFormControl to its corresponding QP.
  </p>

  <h3>Structure</h3>
  <p>The serializer has the following structure:</p>
  <code-box [code]="serializerTypeCode"></code-box>
  <h4>type</h4>
  <p>Identifies the serializer with a unique id which later will be used to assign it to a control with the same
    type.</p>

  <h4>serializerFunc</h4>
  <p>Is a function that transforms the value retrieved from the Ui2QpControl to the right value
    and type expected to be set in the QPs.</p>

  <h3>Example</h3>
  <p>The following example is the implementation of the "string" serializer provided by us:</p>
  <code-box [code]="stringSerializerCode"></code-box>

</section>

<h2>De-serializer</h2>
<section>
  <p>A de-serializer is an object with two properties, type, and deserializerFunc, and it has the responsibility of
    transforming the value from a Qp to the value that will be assigned to its corresponding Ui2QpControl in the
    model.</p>

  <h3>Structure</h3>
  <p>Here is its structure:</p>
  <code-box [code]="deserializerTypeCode"></code-box>
  <h4>type</h4>
  <p>Identifies the serializer with a unique id which later will be used to assign it to a control with the same
    type.</p>

  <h4>deserializerFunc</h4>
  <p>It is a function that transforms the recovered value of the QP into the type of value expected by its corresponding
    Ui2QpFormControl. The deserializerFunc has two arguments, value and defaultVal; the "value" argument is the one to
    which the transformation will be applied and if no error occurs it will be returned; the "defaultValue" is passed to
    the function so that if any error occurs, it can be returned and the execution of the application won't be
    interrupted.</p>

  <h3>Example</h3>
  <p>The next example is the implementation of the "number" de-serializer provided by us.</p>
  <code-box [code]="numberDeserializerCode"></code-box>

</section>

<h2 id="built-in">Built-in serializers and de-serializers</h2>

<section>
  <p>We have provided built-in serializers and de-serializers for most of the common types, here they are:</p>
  <table class="table">
    <tr class="primary-background-color accent-color">
      <th>Type</th>
      <th>Description</th>
    </tr>
    <tr class="light-primary-background-color">
      <td>string</td>
      <td>String serializer and de-serializer.</td>
    </tr>
    <tr class="light-primary-background-color">
      <td>number</td>
      <td>Number serializer and de-serializer.</td>
    </tr>
    <tr class="light-primary-background-color">
      <td>string-array</td>
      <td>Array of strings serializer and de-serializer</td>
    </tr>
    <tr class="light-primary-background-color">
      <td>number-array</td>
      <td>Array of numbers serializer and deserializer</td>
    </tr>
    <tr class="light-primary-background-color">
      <td>boolean</td>
      <td>Boolean serializer and de-serializer</td>
    <tr class="light-primary-background-color">
      <td>encrypted</td>
      <td>Special type of serializer and de-serializer that encrypts and decrypt the value from a <a
        routerLink="../control">Ui2QpControl</a>
        so can't be read from the Qps.
      </td>
    </tr>
  </table>
</section>

<h2>Creating and registering custom serializers and de-serializers</h2>

<section>
  <p>We've provided some built-in serializers and de-serializers that may cover a wide range of use cases but sure not
    all of them. That's why we've provided a way to create custom serializers and de-serializers that adjust to those
    cases where the built-in not. Here is an example step by step of how to do it.</p>
  <p>
    Here is an example of creating a custom serializer and de-serializer for the <a
    href="https://material.angular.io/components/datepicker/overview">datepicker</a> component from Angular Material
    Design.
  </p>

  <ol>
    <li>
      <p>Choose a type for both serializer and de-serializer. The type must be the same for both.</p>
    </li>
    <li>
      <p>Create and register a new de-serializer with the Ui2QpDeserializersService.</p>
      <code-box [code]="customDeserializerCode"></code-box>
      <i>Notice how the value is converted to a Date object because was obtained from the QPs.
      </i>
    </li>
    <li>
      <p>Create and register a new serializer with the Ui2QpSerializerService.</p>
      <code-box [code]="customSerializerCode"></code-box>
      <i>Look at how the value is transformed into an ISO string format which is the one that will be assigned to the
        QP</i>
    </li>
  </ol>
  <p>That's all you need to do for creating and register custom serializers and de-serializers.</p>

  <p class="notice-box"><b>Attention</b>: The serializers and de-serializers are saved in services, so
    they are available to other components even though the component that registered them was destroyed.
  </p>
  <h3>Running example</h3>

  <p>The following example is the running code from the section above.</p>
  <mat-tab-group id="full-example" class="code-example" mat-align-tabs="start">
    <mat-tab label="HTML">
      <code-box [code]="codeExample.html"></code-box>
    </mat-tab>
    <mat-tab label="TS">
      <code-box [code]="codeExample.ts"></code-box>
    </mat-tab>
    <mat-tab label="CSS">
      <code-box [code]="codeExample.css"></code-box>
    </mat-tab>
  </mat-tab-group>

  <p>Here is the running-core for the example above. See how the URL changes and Qps are added.</p>
  <div class="live-example display-flex flex-direction-column align-items-flex-start">
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="datePickerControl"
             [ui2QpControl]="{type:'datetime-picker', qpName:'date'}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</section>

