<h1 class="page-header">Introduction</h1>
<div class="page-content">

  <h2>ng-ui2qp</h2>

  <section class="">
    <p>Angular library that serializes the state of UI components as query parameters(QPs) and vice verse.</p>
  </section>

  <h2>Description</h2>

  <section class="">
    <p>The lib provides a way of synchronize UI components state into query parameters(QPs) using a declarative and
      familiar approach, it extends ReactiveForm's API.
      Using the library's features could improve the user experience in some ways, think about the following use cases:
    </p>
    <ul>
      <li>Accidentally or intentionally refreshing the page will keep the last state of the app which prevents the user
        lose the data entered. In mobiles, refreshing the page accidentally happens very commonly.
      </li>
      <li>If you want to bookmark or share specific states of the application, you could do it simply copying the url
        and sending it to who you want or bookmarking the page which guarantees you to restore the page exactly how was.
      </li>
    </ul>
  </section>

  <h2>Advantages</h2>

  <section class="">
    <p>Here are some advantages the lib provides over it's peers:
    </p>
    <ul>
      <li>Install the library.</li>
      <li>Extends ReactiveForms API which makes the library features very familiar and easy to assimilate.
      </li>
      <li>Allows saving and restoring whatever model(Object or state) to the QPs and from it, including deeply nested
        models.
      </li>
      <li>It's compatible with Angular Validations.</li>
      <li>Allows dynamically add and remove parts or peaces of the synchronized model.</li>
    </ul>
  </section>

  <h2>Limitations</h2>

  <section>
    <p>Please keep in mind that for compatibility matters between browsers you have to take care of the URL's length doesn't
      get beyond 2,083 characters because that could cause some unexpected behaviour in old browsers.
      Please read <a href="https://www.quora.com/What-is-the-max-length-for-URLs-in-each-browser">this</a> for more information.</p>
  </section>
</div><p></p>
