<mat-sidenav-container class="flex-grow-1">
  <mat-sidenav #sideBar class="max-width-300px position-fixed border-right-none width-100pct min-width-0 box-shadow"
               [mode]="!isScreenWidthBigger800px ? 'over'  :'side'">
    <nav class="nav-menu">
      <a mat-flat-button [routerLink]="['introduction']" routerLinkActive="active">Introduction</a>
      <a mat-flat-button [routerLink]="['concepts']" routerLinkActive="active">Concepts</a>
      <a mat-flat-button [routerLink]="['configurations']" routerLinkActive="active">
        Configurations
      </a>
      <div class="nav-submenu">
        <div class="display-flex justify-content-space-between" (click)="onHowToUseSubMenuClick()">
          <span>How to use</span>
          <mat-icon *ngIf="!howToUseOpened">keyboard_arrow_right</mat-icon>
          <mat-icon *ngIf="howToUseOpened">keyboard_arrow_down</mat-icon>
        </div>
        <div *ngIf="howToUseOpened">
          <a mat-flat-button [routerLink]="['model-driven']" routerLinkActive="active">
            Model-Driven
          </a>
          <a mat-flat-button [routerLink]="['template-driven']" routerLinkActive="active">Template-Driven</a>
        </div>
      </div>
      <div class="nav-submenu">
        <div class="display-flex justify-content-space-between" (click)="onAdvanceTopicsSubMenuClick()">
          <span>Advance topics</span>
          <mat-icon *ngIf="!advanceTopicsOpened">keyboard_arrow_right</mat-icon>
          <mat-icon *ngIf="advanceTopicsOpened">keyboard_arrow_down</mat-icon>
        </div>
        <div *ngIf="advanceTopicsOpened">
          <a mat-flat-button [routerLink]="['serializers-deserializers']" routerLinkActive="active">
            Serializers and Deserializers
          </a>
          <a mat-flat-button [routerLink]="['router']" routerLinkActive="active">Router</a>
          <a mat-flat-button [routerLink]="['root']" routerLinkActive="active">Root</a>
          <a mat-flat-button [routerLink]="['group']" routerLinkActive="active">Group</a>
          <a mat-flat-button [routerLink]="['control']" routerLinkActive="active">Control</a>
        </div>
      </div>
      <a mat-flat-button [routerLink]="['changelog']" routerLinkActive="active">
        Changelog
      </a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content class="">
    <div class="page-header">
      <button color="primary" class="top--10px margin-right-15px" mat-icon-button
              *ngIf="!isScreenWidthBigger800px"
              (click)="sideBar.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>{{this.titleService.getTitle().split(' | ')[1] || ''}}</h1>
    </div>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
