<mat-toolbar color="primary" class="display-flex">
  <a mat-flat-button [routerLink]="[ '/' ]">Ng-Ui2Qp</a>

</mat-toolbar>
<mat-sidenav-container class="display-flex">
  <mat-sidenav mode="over" #sidebarMenu opened="opened">
    <nav class="color-primary">
      <ul>
        <li routerLinkActive="active">
          <a color [routerLink]="[ '/Home' ]">Form Query Params</a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-mini-fab class="menu-icon" (click)="sidebarMenu.toggle()">
      <mat-icon *ngIf="!sidebarMenu.opened else sideBarOpenedIcon">menu</mat-icon>
      <ng-template #sideBarOpenedIcon>
        <mat-icon *ngIf="!sidebarMenu.opened">menu_open</mat-icon>
      </ng-template>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
