:host {

}


.app-navigation-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2
}

.container {
  position: relative;
  top: 50px;
  overflow: auto;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}

.icon-logo {
 font-size: 30px;
}

.logo {
}

