<div class="app-navigation-header box-shadow mat-elevation-z6">
  <mat-toolbar color="primary">
    <button class="logo" color="primary" mat-icon-button [routerLink]="[ '/' ]">
      <logo backgroundColor="#b2ff59"></logo>
    </button>
    <button mat-flat-button color="primary" [routerLink]="[ '/getting-started' ]" routerLinkActive="active">Getting
      started
    </button>
    <button mat-flat-button color="primary" [routerLink]="[ '/docs' ]" routerLinkActive="active">Documentation</button>
    <button mat-flat-button color="primary" href="api-url-when-is-ready" routerLinkActive="active">API</button>
    <button mat-flat-button color="primary" href="https://github.com/GGGErnest/ng-projects">Github</button>
  </mat-toolbar>
</div>
<div class="container">
  <router-outlet></router-outlet>
  <div class="footer display-flex justify-content-space-between">
    <div class="footer-version flex-grow-1 display-flex align-items-center"><span>Current Version 2.0.0</span></div>
    <div class="footer-license flex-grow-2">
      <span>Code licensed MIT, docs CC BY 4.0.</span>
      <span>
        Design inspired by <a href="https://www.ngqp.io/">ngqp</a>, <a
        href="https://material.angular.io/">Angular Material Design</a>, <a href="https://angular.io/">Angular</a> and
        <a href="https://compodoc.app/">Compodoc</a>
      </span>
    </div>
  </div>
</div>
