<div class="app-navigation-header box-shadow mat-elevation-z6">
  <mat-toolbar color="primary">
    <button class="logo" color="accent" mat-icon-button [routerLink]="[ '/' ]">
      <mat-icon class="icon-logo">published_with_changes</mat-icon>
    </button>
    <a mat-flat-button color="primary" [routerLink]="[ '/getting-started' ]">Getting started</a>
    <a mat-flat-button color="primary" href="https://github.com/GGGErnest/ng-projects">Github</a>
  </mat-toolbar>
</div>
<div class="container display-flex flex-grow-1">
  <router-outlet></router-outlet>
</div>
