<header
  class="header primary-background-color display-flex flex-direction-row justify-content-space-between align-items-center height-60vh">
  <div class="header-content">
    <h1 class="font-size-56px margin-15px">ng-ui2qp</h1>
    <p class="text-align-center">Angular library that synchronizes UI component's state with the Browser's query
      params, improving the user experience allowing the creation of shareable links.</p>
    <button mat-raised-button color="accent" [routerLink]="[ '/getting-started' ]">Getting Started</button>
  </div>
</header>
<section
  class="display-flex padding-25px flex-direction-row align-items-center justify-content-space-evenly flex-wrap-wrap">
  <article>
    <h2>Frictionless</h2>
    <p>
      Was built for Angular. Start from scratch or drop into your existing applications.
    </p>
  </article>
  <article>
    <h2>Easy to use</h2>
    <p>ng-ui2qp required almost no setup and can be adjusted to different use cases through configuration provided at
      different levels. Extends Angular ReactiveForms which makes it familiar and intuitive.</p>
  </article>
  <article>
    <h2>Declarative</h2>
    <p>The library API provides a declarative approach to interact with its many features.</p>
  </article>
  <article>
    <h2>Well documented</h2>
    <p>
      All developers appreciate a well documented tool that's why we've spent hours documenting it an including many
      examples, suggestions , best practices etc. If you feel something can be improve please drop us an issue in
      github.
    </p>
  </article>
  <article>
    <h2>It's free!!</h2>
    <p>
      ng-ui2qp it's free and open source, we love the open source community and this is how we contribute to it. the
      source code can be found on Github, fork it or help us to improve it.
    </p>
  </article>
</section>

<section>

</section>

<section class="display-flex flex-direction-column align-items-center justify-content-space-evenly">
  <div class="horizontal-separator"></div>
  <h2 class="">Check it in action!!</h2>
  <div class="display-flex flex-grow-1 margin-25px flex-wrap-wrap">
    <div class="display-flex flex-grow-1 flex-direction-column margin-25px">
      <span class="margin-bottom-25px">Enter some values in the form then reload the page,
        <br> you'll see in the form the values you entered.</span>
      <ng-container [formGroup]="root.model">
        <mat-form-field>
          <mat-label for="">First Name</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
          <mat-label for="">Last Name</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
          <mat-label for="">Age</mat-label>
          <input matInput formControlName="age" type="number">
        </mat-form-field>
      </ng-container>
    </div>
    <div class="display-flex flex-direction-column flex-grow-1 margin-25px">
      <span>This is the running code for this example</span>
      <mat-tab-group mat-align-tabs="start" dynamicHeight>
        <mat-tab label="HTML">
          <code-box [code]="exampleCode.html"></code-box>
        </mat-tab>
        <mat-tab label="TS">
          <code-box [code]="exampleCode.ts"></code-box>
        </mat-tab>
        <mat-tab label="CSS">
          <code-box [code]="exampleCode.css"></code-box>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <a class="tryOutBox" routerLink="../getting-started">
    <logo class="primary-color margin-right-10px" backgroundColor="#b2ff59"></logo>
    <div class="display-flex flex-direction-column">
      <span class="text-transform-uppercase margin-bottom-10px font-weight-bold">Try it know</span>
      <span class="word-break-break-word">Start with ng-ui2qp and improve the user experience of your apps</span>
    </div>
  </a>
</section>
<!--<app-embedded-stackblitz   [configurations]="{projectId: 'ng-ui2qp', opts: {embed:true, view:'preview',hideExplorer: true, hideNavigation: true}}"></app-embedded-stackblitz>-->
