<h1>Query Params</h1>

<!--<input [ui2qpControl]="{qpName:'test'}"
       ui2QpValueAccessor #accessor="controlValueAccessor" (controlValueChange)="ctrl.value = $event"
       #ctrl (input)="accessor.notifyChange($event.target.value)"
       type="text">-->

<input type="checkbox" [ui2qpControl]="{qpName:'check', type:'boolean'}"
       ui2QpValueAccessor #accessor2="controlValueAccessor" (controlValueChange)="ctrl2.value = $event"
       #ctrl2 (input)="accessor2.notifyChange($event.target.value)">
<select name="select" [ui2qpControl]="{qpName:'select', type:'asdasd'}" multiple [formControl]="controlTest">
  <option value="">Empty</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
</select>

<!--<input [owlDateTimeTrigger]="dt2"
       [owlDateTime]="dt2"
       [ui2qpControl]="{qpName:'birthday',type: 'datetime-picker'}"
       type="text">
<owl-date-time [pickerType]="'timer'" #dt2>
</owl-date-time>-->

<!--<mat-form-field>
  <label for="">Birthday</label>
  <input matInput
         [owlDateTimeTrigger]="dt2"
         [owlDateTime]="dt2"
         [ui2qpControl]="{qpName:'birthday', type:'datetime-picker'}"
         name="birthday" type="text">
  <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
</mat-form-field>-->

<!--<div [formGroup]="root.model">
  <mat-form-field>
    <label for="">Username</label>
    <input matInput formControlName="username">
  </mat-form-field>

  <mat-form-field>
    <label for="">Password</label>
    <input matInput formControlName="password" type="password">
  </mat-form-field>

  <mat-form-field>
    <label for="">Birthday</label>
    <input matInput [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" formControlName="birthday" type="text">
    <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
  </mat-form-field>

  <div formGroupName="addresses">
    <b>Addresses</b>
    <div formGroupName="address1">
      <mat-form-field>
        <label for="">Address</label>
        <input matInput formControlName="address">
      </mat-form-field>
      <mat-form-field>
        <label for="">State</label>
        <input matInput formControlName="state">
      </mat-form-field>
      <mat-form-field>
        <label for="">Country</label>
        <input matInput formControlName="country">
      </mat-form-field>
      <mat-form-field>
        <label for="">Number</label>
        <input matInput type="number" formControlName="number">
      </mat-form-field>
    </div>
    <div formGroupName="address2">
      <mat-form-field>
        <label for="">Address</label>
        <input matInput formControlName="address">
      </mat-form-field>
      <mat-form-field>
        <label for="">State</label>
        <input matInput formControlName="state">
      </mat-form-field>
      <mat-form-field>
        <label for="">Country</label>
        <input matInput formControlName="country">
      </mat-form-field>
    </div>
    <div formGroupName="address3" *ngIf="showAddress3">
      <mat-form-field>
        <label for="">Address</label>
        <input matInput formControlName="address">
      </mat-form-field>
      <mat-form-field>
        <label for="">State</label>
        <input matInput formControlName="state">
      </mat-form-field>
      <mat-form-field>
        <label for="">Country</label>
        <input matInput formControlName="country">
      </mat-form-field>
    </div>
  </div>
</div>-->
<div>
  <button mat-button color="primary" (click)="toggleAddress3()">Toggle address3</button>
  <button mat-button color="primary" (click)="updateQp()">Update QP</button>
</div>
