<h2>ng-ui2qp</h2>

<section class="">
  <p>Angular library that serializes the state of UI components as query parameters(QPs) and vice verse.</p>
</section>

<h2>Description</h2>

<section class="">
  <p>The lib provides a way of synchronizing UI components' state into query parameters(QPs) using a declarative and
    familiar approach because it extends Angular ReactiveForms.
    Using the library's features improves the user experience. Think about the following use cases:
  </p>
  <ul>
    <li>Accidentally or intentionally refreshing the page will keep the last state of the app, preventing losing data
      the user entered on the page. In mobiles, refreshing the page accidentally happens very commonly.
    </li>
    <li>Sharing a specific state of the application is possible with just copying and sending the URL.</li>
    <li>Bookmarking the page guarantees the restoration of the page how it was when bookmarked.</li>
  </ul>
</section>

<h2>Advantages</h2>

<section class="">
  <p>Here are some advantages the lib provides over its peers:
  </p>
  <ul>
    <li>Extends ReactiveForms API, which makes the library features very familiar and easy to assimilate.
    </li>
    <li>Allows saving and restoring whatever model(or state), including deeply nested models.
    </li>
    <li>It's compatible with Angular Validations.</li>
    <li>Allows dynamically add and remove parts of the model, or replace it for a new one if needed.</li>
  </ul>
</section>

<h2>Limitations</h2>

<section>
  <p>Please keep in mind that for compatibility matters between browsers, we recommend the URL's length
    doesn't get beyond 2,083 characters because that could cause some unexpected behavior in old browsers.
    Please read <a href="https://www.quora.com/What-is-the-max-length-for-URLs-in-each-browser">this</a> for more
    information.</p>
</section>

