:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

section {
  margin: 0;
  padding: 5px 0;
}

.page-content {
  padding: 0 15px;
}

table th, table td {
 padding: 10px;
}
table th {

}
