/* You can add global styles to this file, and also import other style files */
@import 'assets/theme';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  //display: flex;
  overflow: hidden;
  //flex-direction: column;
}


.box-shadow {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.page-header {
  font-size: 38px;
  margin: 0  0  40px 0 ;
  padding: 25px 15px;
  background-color: mat-color($app-accent);
}

.page-header h1 {
  font-size: 38px;
  padding: 0;
  margin: 0;
}

.live-example {
  border: dashed 1px mat-color($app-primary, A400);
  padding: 15px
}

.code-example {
  border: dashed 1px mat-color($app-primary, A400);
  padding: 15px
}

.footer{
  background-color: mat-color($app-primary);
  color: white;
  padding: 16px;
  z-index: 2;
}

.footer a {
  color: mat-color($app-accent);
  text-decoration: none;
}

.footer-version {
  min-width: 150px;
  max-width: 350px;
}

.footer-license {
  min-width: 200px;
  max-width: 400px;
}

// Navigation styles
nav.nav-menu a.active {
  color: mat-color($app-accent);
  background-color: mat-color($app-primary);
}

nav.nav-menu a:hover:not(.active) {
  background-color: mat-color($app-primary, A400);
}

.nav-submenu > div:first-child:hover {
  background-color: mat-color($app-primary, A400);
}

mat-toolbar button.active {
  color: mat-color($app-accent);
}

.warning-box {
  border: 2px dashed mat-color($app-warn);
  padding: 15px;

  b {
    color: mat-color($app-warn);
    text-transform: capitalize;
  }
}

.notice-box {
  border: 2px dashed mat-color($app-primary, A400);
  padding: 15px;

  b {
    text-transform: uppercase;
  }
}
