<h2>Ng-Ui2Qp configurations</h2>

<section>
  <p>
    We know that every use case could be different and therefore we've provided some configurations that will help you
    to adjust the library feature to your own specific use cases.
  </p>
</section>

<h2>Global configurations</h2>

<section>
  <p>Global configurations are the configurations that are provided when importing the UI2QpModule and are going to be
    used within the scope of the module that Ui2QpModule was imported.</p>

  <h3>Configuration Object</h3>
  <p>
    These are the available configurations and what they do:
  </p>
  <code-box id="configuration-object" [code]="configurationObjectCode"></code-box>

  <h4>autoUpdating</h4>
  <p>Groups settings specific to the auto-updating feature of the Library </p>
  <code-box [code]="autoUpdatingSettingsCode"></code-box>

  <h4>replaceState</h4>
  <p>Defines whether updating the URL due to a change in the model adds or replaces the state in the browser's
    history. Check <a href="https://developer.mozilla.org/en-US/docs/Web/API/History_API">this</a> for more info about
    this topic</p>

  <h4>logLevel</h4>
  <p>ng-ui2qp has a logger service which it's used widely in the code and this settings allows to configure or
    disabled it. The possible values are:</p>
  <code-box [code]="loginLevelCode"></code-box>

  <h4>cryptoSecretKey</h4>
  <p>Secret key used in the "encrypted" serializer and deserializers. If not provided a default value will be
    used.</p>

  <h3 id="default-configurations">Default values</h3>
  <p>These are the default values for each configuration if not provided.</p>
  <code-box [code]="defaultSettingsCode"></code-box>

</section>

<h2>UI2QpRoot Configurations</h2>

<section>
  <p>Ui2QpRoot accepts some settings which define how it should behave. Those settings are the same that were provided
    when importing UI2QpModule.</p>
</section>

<h2 id="group-configurations">UI2QpGroup Configurations</h2>

<section>
  <p>UI2QpGroup can be configured when creating an instance with the Ui2QpBuilder, following are those
    configurations:</p>
  <code-box [code]="configurationsCode"></code-box>

  <h3>qpName</h3>
  <p>It allows the renaming of the default Qp's name for this Ui2QpGroup instance.</p>

  <h3>validatorOrOpts and asyncValidators</h3>
  <p>They have the same function that the similar properties in the Angular's FormGroup class. Check Angular
    <a href="https://angular.io/api/forms/FormGroup">documentation</a> to know more about them.</p>
  <p>Here is an example of how to pass the configurations</p>
  <code-box [code]="configurationsCode"></code-box>
</section>

<h2 id="control-configurations">Ui2QpControl Configurations</h2>

<section>
  <p>Ui2QpControl accepts some configurations when creating an instance with the Ui2QpBuilder, those configurations
    are
    the following:</p>
  <code-box [code]="controlConfigurationsCode"></code-box>

  <h3>qpName</h3>
  <p>Qp name to be used for this Ui2QpControl.</p>

  <h3>validatorOrOpts and asyncValidators</h3>
  <p>They have the same function that the similar properties in the Angular's FormGroup class. Check Angular
    <a href="https://angular.io/api/forms/FormGroup">documentation</a> to know more about them.</p>

  <h3>type</h3>
  <p>Type of the current Ui2QpControl. The type is used for assigning the right serializer and deserializers at
    creation time, if not provided the default is "string". Please checkout the <a
      routerLink="../serializers-deserializers">serializer and a
      deserializer</a>documentation to know more about how they affect the Ui2QpControl's value when set it or get it.
  </p>

  <h3>defaultVal</h3>
  <p>Value to used when is null the value to set.</p>
  <p>We know that a Ui2QpControl instance binds a model property value to a Qp By default, if a qp value is null, it
    will be removed from the URL, that avoids useless URL segments such as ?q=
    (empty value). However, in some cases you might want this "default" to be a different value, e.g., a numeric input
    should perhaps default to 0 instead. Look at the next example.</p>
  <code-box [code]="controlDefaultValueCode"></code-box>

</section>

<h2 id="control-directive">Ui2qpControl directive configurations</h2>

<section>
  <p>The directive accepts two inputs where some configurations are expected, here they are:</p>
  <ul>
    <li>
      <p>
        <b>ui2qpControl</b>: Input name of the directive configurations which have this structure:
      </p>
      <code-box [code]="controlDirectiveConfCode.config"></code-box>
      <p>here is the default value for some of them if not provided:</p>
      <code-box [code]="controlDirectiveConfCode.defaultVal"></code-box>
      <p class="light-primary-background-color padding-15px"><b>NOTE</b>: Please note that the "qpName" setting
        is required, if not provided then an error will be shown.</p>
    </li>
    <li><b>ui2qp</b>: Input name for <a routerLink="." fragment="configuration-object">Ui2Qp settings</a> that will be
      use for this specific directive instance. Are the same set of configurations we've explained here.
    </li>
  </ul>
</section>
