<h2>Ng-Ui2Qp configurations</h2>

<section>
  <p>
    We are aware that every use case could be different, and that's why we've provided some configurations that should
    help to adjust the library features to a wide variety of use cases.
  </p>
</section>

<h2>Global configurations</h2>

<section>
  <p>The Global Configurations are the ones provided when importing UI2QpModule their scope is within the module that
    imported Ui2QpModule.</p>

  <h3>Configuration Object</h3>
  <p>
    This is how the configuration object looks like:
  </p>
  <code-box id="configuration-object" [code]="configurationObjectCode" [languages]="['typescript']"></code-box>

  <h4>autoUpdating</h4>
  <p>Property that groups the configurations specific to the auto-updating feature.</p>
  <code-box [code]="autoUpdatingSettingsCode"></code-box>

  <h4>replaceState</h4>
  <p>Defines whether updating the URL due to a change in the model adds or replaces the state in the browser's
    history. Check <a href="https://developer.mozilla.org/en-US/docs/Web/API/History_API">this</a> for more info about
    it</p>

  <h4>logLevel</h4>
  <p>Logging level to be output for the logging service. The possible values are:</p>
  <code-box [code]="loginLevelCode" [languages]="[]"></code-box>

  <h4>cryptoSecretKey</h4>
  <p>Secret key used in the "encrypted" serializer and deserializers. If not provided a default value will be
    used.</p>

  <h3 id="default-configurations">Default values</h3>
  <p>Global configurations default values if not provided.</p>
  <code-box [code]="defaultSettingsCode"></code-box>

</section>

<h2>UI2QpRoot Configurations</h2>

<section>
  <p>Ui2QpRoot accepts some settings which define how it should behave. Those are the Global Configurations explained
    above. The configurations won't be needed to pass in when creating a Ui2QpRoot with the Ui2QpBuilder service. It
    injects by default the global configurations when creating a Ui2QpRoot instance.</p>
</section>

<h2 id="group-configurations">UI2QpGroup Configurations</h2>

<section>
  <p>The UI2QpGroup object can be configured to adjust its behavior to specific use cases, those configurations are
    provided to the Ui2QpBuilder service when creating an instance of it. Following are those
    configurations:</p>
  <code-box [code]="configurationsCode"></code-box>

  <h3>qpName</h3>
  <p>Set the Qp's name for this Ui2QpGroup instance.</p>

  <h3>validatorOrOpts and asyncValidators</h3>
  <p>Both properties have the same function that in ReactiveForms. Check Angular
    <a href="https://angular.io/api/forms/FormGroup">documentation</a> to know more about them.</p>
  <p>Here is an example of how to pass the configurations</p>
  <code-box [code]="groupConfigurationsCode"></code-box>
</section>

<h2 id="control-configurations">Ui2QpControl Configurations</h2>

<section>
  <p>Ui2QpControl configurations when created with the Ui2QpBuilder:</p>
  <code-box [code]="controlConfigurationsCode"></code-box>

  <h3>qpName</h3>
  <p>Set the Qp's name for this Ui2QpControl.</p>

  <h3>validatorOrOpts and asyncValidators</h3>
  <p>They have the same function that the similar properties in the Angular's FormGroup class. Check Angular
    <a href="https://angular.io/api/forms/FormGroup">documentation</a> to know more about them.</p>

  <h3>type</h3>
  <p>This property is used to assign the right serializer and deserializer to the control and if not provided then a
    default value of "string" will be used. Please checkout the <a
      routerLink="../serializers-deserializers">serializer and a
      deserializer</a>documentation to know more about how they affect the Ui2QpControl's value when set it or get it.
  </p>

  <h3>defaultVal</h3>
  <p>The value to be used when is null the value to set. We know that a Ui2QpControl instance binds a model property
    value to a Qp. By default, if a Qp value is "null", it will be removed from the URL, that avoids useless URL
    segments such as ?q= (empty value). However, in some cases you might want this "default" to be a different value,
    e.g., a numeric input should perhaps default to 0 instead. Look at the next example that shows how to set the
    default value.</p>
  <code-box [code]="controlDefaultValueCode"></code-box>

</section>

<h2 id="control-directive">Ui2qpControl directive configurations</h2>

<section>
  <p>The directive accepts two inputs with some configurations:</p>
  <ul>
    <li>
      <p>
        <b>ui2qpControl</b>: Directive configurations. The structure is the following:
      </p>
      <code-box [code]="controlDirectiveConfCode.config" [languages]="['typescript']"></code-box>
      <p>here is the default value for some of them if not provided:</p>
      <code-box [code]="controlDirectiveConfCode.defaultVal" [languages]="['typescript']"></code-box>
      <p class="notice-box"><b>Please note</b> that the "qpName" setting is required</p>
    </li>
    <li><b>ui2qp</b>: Same set of global settings already explained above in this page. If not provided the global
      settings defined when importing the Ui2QpModule will be used by default.
    </li>
  </ul>
</section>
