
:host{
  display: flex;
  flex-direction: column;
}

lzy-load-cont {
  flex-direction: column;
  overflow: auto;
  min-height: 0;
  width: 300px;
}

.lazy{
  max-height: 400px;
}

.item{
  height: 70px;
  width:130px;
  border: solid 1px black;
  position: relative;
}

img {
  height: 50px;
  width:130px;
}

p{
  font-size: 12px;
  margin:0px;
  padding: 0px;
}
