<h1>Query Params</h1>
<div [formGroup]="qpRoot.qpGroup">
    <mat-form-field>
        <label for="">Username</label>
        <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field>
        <label for="">Password</label>
        <input matInput formControlName="password" type="password">
    </mat-form-field>

    <div formGroupName="addresses">
      <b>Addresses</b>
      <div formGroupName="address1">
          <mat-form-field>
              <label for="">Address</label>
              <input matInput formControlName="address">
          </mat-form-field>
            <mat-form-field>
                <label for="">State</label>
                <input matInput formControlName="state">
            </mat-form-field>
            <mat-form-field>
                <label for="">Country</label>
                <input matInput formControlName="country">
            </mat-form-field>
      </div>
      <div formGroupName="address2">
          <mat-form-field>
              <label for="">Address</label>
                <input matInput formControlName="address">
            </mat-form-field>
            <mat-form-field>
                <label for="">State</label>
                <input matInput formControlName="state">
            </mat-form-field>
            <mat-form-field>
                <label for="">Country</label>
                <input matInput formControlName="country">
            </mat-form-field>
      </div>
      <div formGroupName="address3">
          <mat-form-field>
            <label for="">Address</label>
              <input matInput formControlName="address">
          </mat-form-field>
          <mat-form-field>
              <label for="">State</label>
              <input matInput formControlName="state">
          </mat-form-field>
          <mat-form-field>
              <label for="">Country</label>
              <input matInput formControlName="country">
          </mat-form-field>
      </div>
    </div>
</div>
