<h1 class="page-header">How to use</h1>
<div class="page-content">

  <h2>Overall view</h2>

  <section>
    <p>
      In general using Ui2Qp generally is only a matter of some few steps.
    </p>
    <ol>
      <li>
        Import Ui2QpModule.
      </li>
      <li>
        Create a model that defines the Qps.
      </li>
      <li>
        Create a Ui2QpRoot object.
      </li>
      <li>
        Bind the model to the template.
      </li>
    </ol>
  </section>

  <h2>Importing Ui2QpModule and configurations</h2>

  <section>
    <h3>Importing Ui2QpModule</h3>
    <p>This can be done in two places:</p>
    <ul>
      <li><p><b>AppModule</b>: If imported in the AppModule all the library features will be available across the whole
        App which will be the normal use case.</p></li>
      <li>
        <p><b>Module import</b>: The Ui2QpModule could also be imported in feature modules and will make the ng-ui2qp
          features available only within the module that imports it.</p>
        <i>It's important to remark that none of the injectables provided by the
          lib will be automatically provided in the root injector.</i>
      </li>
    </ul>

    <h3>Configurations</h3>
    <p>When importing Ui2QpModule some default configurations are going to be used (<a
      [routerLink]="['../configurations']" [fragment]="'default-configurations'">now more about the configurations</a>)
      but those can be changed and the way to do it is with the "withConfig" method in the
      Ui2QpModule when importing it, here is an example:</p>
    <code-box [code]="withConfigCode"></code-box>
  </section>

  <h2>Create a model</h2>
  <section>
    <p>In this step we'll create a model(<a routerLink="../group">Ui2QpGroup</a>)which defines the Qps and will be
      bonded to UI components in the template.
      Each property in the model contributes in how the Qps are going to be named by default, but they can be renamed if
      desired.</p>
    <p>Take a look at the next example to see how the Qps map the model</p>
    <code-box [code]="nestedModelExampleCode"></code-box>

    <h3>Controls type</h3>
    <p>When creating a model is normal to have different types of data because not all properties on a model have to be
      string, any of them could be numbers, booleans or an array of them, in those cases you need to
      specify a type for the properties that are not string, take a look in the previous example at the "houseNumber"
      property within the "address", it's a number then we pass a configuration object to the
      Ui2QpBuilder which will create a Ui2QpControl with a <a routerLink="../serializers-deserializers">serializer and a
        deserializer</a> of the type we specified in the configurations passed.</p>
    <a routerLink="../serializers-deserializers" fragment="built-in">Here you can find all built-in types</a>

    <h3>Defining Qps names</h3>
    <p>We have provided a way of defining specific Qp names for each property within the model, check this <a
      routerLink="../configurations" fragment="group-configurations">link</a> to know how</p>


    <h3>Providing default values</h3>
    <p>By default, if a qp value is null, it will be removed from the URL, that avoids useless URL segments such as ?q=
      (empty value). However, in some cases you might want this "default" to be a different value, e.g., a numeric input
      should perhaps default to 0 instead.</p>
    <p>The way of achieving this is including in the configuration object mentioned before another property called
      "defaultValue" with the desired default value.</p>
    <p>Checkout the next example:</p>
    <code-box [code]="controlDefaultValueCode"></code-box>

  </section>

  <h2>Create a Ui2QpRoot</h2>

  <section>
    <p>The Ui2QpRoot objects takes care of synchronizing the model with the Qps and vice versa.</p>
    <p>This is how you instantiate a Ui2QpRoot and create the model at the same time, so the previous and this step can
      be done at once.</p>
    <code-box [code]="createRootCode.withModel"></code-box>
    <p>Read its <a routerLink="../root">documentation</a> to get a better understanding.</p>
  </section>

  <h2>Binding the model to the template</h2>

  <section>
    <p>For this step you need to bind the model to the template components like you'll do when creating a normal Angular
      Form, if you want to know more check the Angular <a
        href="https://angular.io/guide/reactive-forms#grouping-form-controls">doc</a> for a better understanding, or
      just checkout the example in the next section.
  </section>

  <h2>Full Example</h2>
  <section>
    <p>Here is an example with all the settings mentioned above.</p>
    <mat-tab-group id="full-example" class="code-example" mat-align-tabs="start">
      <mat-tab label="HTML">
        <code-box [code]="codesExample.html"></code-box>
      </mat-tab>
      <mat-tab label="TS">
        <code-box [code]="codesExample.ts"></code-box>
      </mat-tab>
      <mat-tab label="CSS">
        <code-box [code]="codesExample.css"></code-box>
      </mat-tab>
    </mat-tab-group>

    <p>Here is the code running from the example above. See how the URL changes and Qps are added.</p>
    <div class="live-example display-flex flex-direction-column align-items-flex-start">
      <ng-container [formGroup]="root.model">
        <mat-form-field>
          <mat-label for="">First Name</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
          <mat-label for="">Last Name</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
          <mat-label for="">Age</mat-label>
          <input matInput formControlName="age" type="number">
        </mat-form-field>
        <ng-container formGroupName="address">
          <mat-form-field>
            <mat-label for="">Country</mat-label>
            <input matInput formControlName="country">
          </mat-form-field>
          <mat-form-field>
            <mat-label for="">State</mat-label>
            <input matInput formControlName="state">
          </mat-form-field>
          <mat-form-field>
            <mat-label for="">Street</mat-label>
            <input matInput formControlName="street">
          </mat-form-field>
          <mat-form-field>
            <mat-label for="">House Number</mat-label>
            <input matInput formControlName="houseNumber">
          </mat-form-field>
        </ng-container>
      </ng-container>
    </div>
  </section>

</div>
