tspan {
  white-space: pre
}

.shp0 {
  stroke-width: 1.5
}

.shp1 {
}

.shp2 {
  fill: none;
  stroke-linecap: undefined;
  stroke-linejoin: undefined;
  stroke-width: 1.5
}

.shp3 {
  stroke-width: 1.5
}

svg {
  height: 100%;
  width: 100%;
}
