<mat-sidenav-container class="flex-grow-1">
  <mat-sidenav class="max-width-300px border-right-none width-100pct min-width-0" mode="side"
               [opened]="sidebarOpened"></mat-sidenav>
  <mat-sidenav-content class="background-color-white">
    <h1 class="page-header">{{this.titleService.getTitle().split(' | ')[1] || ''}}</h1>
    <div class="page-content">

      <h2>Welcome to ng-ui2qp!</h2>

      <p>This guide introduces you to the essentials of ng-ui2qp by walking you through the installation,
        configuration and, a simple use case.</p>

      <h2>Pre-requisites</h2>

      <section class="">
        <p>Before using the library be sure the next requisites are filled out:</p>
        <ul>
          <li>
            Angular Router Service must be available. This is only required if you use the Ui2QpRouter(Default router adapter provided by us).
          </li>
          <li>
            ReactiveFormsModule must be imported and accessible.
          </li>
        </ul>
      </section>

      <h2>Installation</h2>

      <section class="">

        <h3>Installing the library</h3>

        <p>The library supports Angular Schematics so just run the following command:</p>
        <code-box [code]="codesExamples.installation.schematics"></code-box>
        <p>or just use npm:</p>
        <code-box [code]="codesExamples.installation.npm"></code-box>
      </section>

      <section class="">
        <h3>Import Ui2QpModule</h3>

        <p>Import the module in the AppModule of the app</p>
        <code-box [code]="codesExamples.importModule"></code-box>
        <p>The above code imports the NgUi2Qp module with default settings:</p>
        <code-box [code]="codesExamples.defaultSettings"></code-box>
        <p>Checkout the <a [routerLink]="['../docs/configurations']">docs</a> to know more about them and what they mean.</p>
      </section>

      <h2>How to use</h2>

      <section class="">
        <h3>Inject the Ui2QpBuilder service in the component</h3>

        <code-box [code]="codesExamples.injectBuilder"></code-box>
      </section>

      <section class="">
        <h3>Create a Ui2QpGroup and its controls, like it's done when using ReactiveForms</h3>

        <code-box [code]="codesExamples.createGroup"></code-box>
      </section>

      <section class="">
        <h3>Instantiate a Ui2QpRoot object and link it to the created model</h3>

        <code-box [code]="codesExamples.createRoot.withModel"></code-box>
        <p> It's possible to do both previous steps in one, here is how:</p>
        <code-box [code]="codesExamples.createRoot.allInOnce"></code-box>
        <p class="warning-box"><b>ATTENTION</b>: The Ui2QpRoot will hold a subscription
          to the "valueChanges" observable of the model if the "autoUpdating"
          setting was enabled, which means the "destroy" method in the Ui2QpRoot must be executed within the
          "onDestroy" lifecycle-hook of the component where was created, doing it prevents memory leaks.</p>
      </section>

      <section class="">
        <h3>Bind the model with the template.</h3>
        <code-box [code]="codesExamples.bindModelWithTemplate"></code-box>
      </section>

      <h2>Full Example</h2>

      <section class="">
        <p>This is how your code should look like after following all the previous steps</p>
        <mat-tab-group class="code-example" mat-align-tabs="start">
          <mat-tab label="HTML">
            <code-box [code]="codesExamples.fullExample.html"></code-box>
          </mat-tab>
          <mat-tab label="TS">
            <code-box [code]="codesExamples.fullExample.ts"></code-box>
          </mat-tab>
          <mat-tab label="CSS">
            <code-box [code]="codesExamples.fullExample.css"></code-box>
          </mat-tab>
        </mat-tab-group>
      </section>

      <section class="">
        <h3>Running example</h3>
        <p>This is the previous example running.</p>
        <div class="live-example display-flex flex-direction-column align-items-flex-start">
          <ng-container [formGroup]="root.model">
            <mat-form-field>
              <mat-label for="">First Name</mat-label>
              <input matInput formControlName="firstName">
            </mat-form-field>
            <mat-form-field>
              <mat-label for="">Last Name</mat-label>
              <input matInput formControlName="lastName">
            </mat-form-field>
          </ng-container>
        </div>
        <p class="notice-box"><b>Note</b> how the URL changes while you enter values in the following inputs.</p>
      </section>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
