@import '../../../../assets/theme';

:host {
  display: flex;
  flex-grow: 1;
  padding: 15px 0px 0px 0px;
}

nav.nav-menu {
  position: relative;
}

nav.nav-menu a {
  text-align: left;
  padding: 5px 15px 0px 15px;
  border-radius: 0px;
  transition: background-color .2s;
}

nav.nav-menu a.active {
  color: mat-color($app-accent);
  background-color: mat-color($app-primary);
}

nav.nav-menu a:hover:not(.active) {
  background-color: mat-color($app-primary, A400);
}

.nav-menu > a {
  width: 100%;
}

.nav-submenu {
  padding-left: 0px;
}

.nav-submenu > div:first-child:hover {
  background-color: mat-color($app-primary, A400);
}

.nav-submenu > div:first-child{
  height: 36px;
}

.nav-submenu > div:first-child > span {
  padding-top: 7px;
}

.nav-submenu > div:first-child mat-icon{
  margin-top: 4px;
}

.nav-submenu > div:first-child {
  padding: 5px 15px 0px 15px;
  margin: 0px;
}

.nav-submenu div > a {
  width: 100%;
  padding-left: 25px;
}
