<h2>v2.0.0</h2>
<section>
  <p>Changes from 1.0.3:</p>
  <ul>
    <li>The lib was updated to Angular 10</li>
    <li>Updated dependencies to their last versions</li>
    <li>Added support for Angular Schematics</li>
    <li>Added Logging to all the library features. This can be enabled in the configurations.</li>
    <li>Added support to Qps name definition, which means the name of Qps can be defined, in previous version this
      wasn't possible, the names were defined depending on the model.
    </li>
    <li>Added crypto serializer and de-serializer. This allows ciphering Qps values so they aren't readable from the
      URL.
    </li>
    <li>Some classes and exported types were renamed. This cause some incompatibilities with previous versions.</li>
    <li>Some known bugs were fixed.</li>
    <li>Added Template-Driven approach.</li>
    <li>Enhanced Ui2QpRoot so the model doesn't necessary needs to be passed in on the constructor, can eb linked to the
      Ui2QpRoot instance later.
    </li>
  </ul>
</section>
