:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 25px;
}

.header {
  padding: 30px;
  height: 60vh;
  background-image: url('../../../../assets/svgs/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-attachment: fixed;
  background-blend-mode: exclusion;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 800px;
  width: 100%;
  min-width: 300px;
}

section {

}

.horizontal-separator {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 80%;
  background-color: rgba(0, 0, 0, 0.1);
}

article {
  padding: 15px;
  margin: 15px;
  background-color: white;
  box-shadow:0 0 6px #888888;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  text-justify: auto;
}

article h2 {
  text-align: center;
}

.max-width-60pct {
  max-width: 60%;
}

.tryOutBox {
  width: 300px;
  height: 100px;
  padding: 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: box-shadow .5s;
  text-decoration-line: none;
  color: black;
}

.tryOutBox logo {
  width: 150px;
  height: 150px;
}

.tryOutBox:hover {
  box-shadow:0 2px 4px -1px rgba(0, 0, 0, 0.2),0 4px 5px0 rgba(0, 0, 0, 0.14), 0 1px 10px0 rgba(0, 0, 0, 0.12);
}

.max-width-100pct {
  max-width: 100%;
}

mat-tab-group {
  max-width: 800px;
  min-width: 300px;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  ::ng-deep code-box pre {
    width: 600px;
  }
}


@media only screen and (max-width: 600px) {
  .header {
    background-position: bottom;
  }

  ::ng-deep code-box pre {
    width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  ::ng-deep code-box pre {
    width: 320px;
  }
}
