<h2>Description</h2>
<section>
  <p>Ui2QpGroup extends from <a href="https://angular.io/api/forms/FormGroup#description">FormGroup</a> so its easy to
    infer that its role is the same but with some enhancements.</p>
</section>

<h2>Creation</h2>

<section>
  <p>We recommend to use the Ui2QpBuilder to create objects of this class, like all the others classes within this
    lib.</p>
</section>

<h2>UI2QpGroup as model</h2>
<section>
  <p>Because Ui2QpGroup groups Ui2QpControl instances or other Ui2QpGroups is possible to create very
    complex object structures that could map almost any object shape, that gives so many possibilities and
    flexibility when saving component states into the Qps.
    If a Ui2QpGroup is passed into a Ui2QpRoot from that moment it becomes the model for that Ui2QpRoot and all
    its properties will define the Qps as it's described <a routerLink="../root" fragment="model">here</a></p>
</section>

